
//Pantalla movil
$screen-sm: 766px;
// Pantalla tablet
$screen-md: 1023px;
//Pantalla escritorio
$screen-lg: 1024px;


@mixin sm{
    @media only screen and (max-width: $screen-sm){
        @content;
    }
}

@mixin md{
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md){
        @content;
    }
}

@mixin lg{
    @media only screen and (min-width: $screen-lg){
        @content;
    }
}

@mixin flex($direction, $wrap, $justify, $align, $space:0){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $space;
}